.cardBottom {
  border-top: 1px solid rgba(0, 0, 0, 0.24);
  padding: 0.5rem 0.5rem 0;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  color: #9eca92;
  font-weight: bold;
  text-transform: capitalize;
}

.h2 {
  text-align: center;
  color: #fff;
  padding: 2rem 0;
  letter-spacing: 0.7rem;
  font-weight: 700;
}

.card {
  background-color: rgba(31, 31, 31, 0.877);
  padding: 1rem;
  border-radius: 0.3rem;
}
